<meta charset="UTF-8">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="style.css" rel="stylesheet">

<div class="container">
        
	<div class="row bs-wizard" style="border-bottom:0;">
		
		<div class="col bs-wizard-step pass">
		  <div class="text-center bs-wizard-stepnum">5 дней назад</div>
		  <div class="progress"><div class="progress-bar" style="background: linear-gradient(90deg, rgba(0,123,255,1) 0%, #f5f5f5 200%);"></div></div>
		  <a href="#" class="bs-wizard-dot" style="background-color: rgba(0,123,255,1);"></a>
		  <div class="bs-wizard-info text-center">COMPLETE: Step was approved</div>
		</div>
		
		<div class="col bs-wizard-step pass"><!-- complete -->
		  <div class="text-center bs-wizard-stepnum">4 дня назад</div>
		  <div class="progress"><div class="progress-bar" style="background: linear-gradient(90deg, rgb(0, 123, 255) -50%, #f5f5f5 50%, rgb(255, 193, 7) 150%);"></div></div>
		  <a href="#" class="bs-wizard-dot" style="background-color: #f5f5f5;"></a>
		  <div class="bs-wizard-info text-center">PASS: Step approved manually (occurs in first approval chain but is passed during )</div>
		</div>
		
		<div class="col bs-wizard-step pass"><!-- complete -->
		  <div class="text-center bs-wizard-stepnum">Позавчера</div>
		  <div class="progress"><div class="progress-bar" style="background: linear-gradient(90deg, #f5f5f5 -50%, rgb(255, 193, 7) 50%, rgb(255, 193, 7) 150%);"></div></div>
		  <a href="#" class="bs-wizard-dot" style="background-color: rgb(255, 193, 7);"></a>
		  <div class="bs-wizard-info text-center">COMPLETE: Step was approved manually</div>
		</div>

		<div class="col bs-wizard-step pass"><!-- complete -->
		  <div class="text-center bs-wizard-stepnum">Вчера</div>
		  <div class="progress"><div class="progress-bar" style="background: linear-gradient(90deg, rgb(255, 193, 7) -50%, rgb(255, 193, 7) 50%, #28a745 150%);"></div></div>
		  <a href="#" class="bs-wizard-dot" style="background-color: rgb(255, 193, 7);"></a>
		  <div class="bs-wizard-info text-center">COMPLETE: Step was approved manually</div>
		</div>

		<div class="col bs-wizard-step pass"><!-- active -->
		  <div class="text-center bs-wizard-stepnum">Сегодня</div>
		  <div class="progress"><div class="progress-bar" style="background: linear-gradient(90deg, rgb(255, 193, 7) -100%, #28a745 100%);"></div></div>
		  <a href="#" class="bs-wizard-dot" style="background-color: #28a745;"></a>
		  <div class="bs-wizard-info text-center">WAITING: Waiting for manual approve</div>
		</div>
	</div>
</div>		