<template>
    <div class="container" style="margin-top: 300px;">
        <div class="row list-inline cause-list">
            <div class="col">
                <div class="icon-holder dsp-flex"> <i class="fa fa-bed font_70" aria-hidden="true"></i> </div>
                <label>Рекомендации по сну</label>
            </div>
            <div class="col">
                <div class="icon-holder dsp-flex"> <i class="fa fa-thumb-tack font_70" aria-hidden="true"></i> </div>
                <label>Задачи на день</label>
            </div>
            <div class="col">
                <div class="icon-holder dsp-flex"> <i class="fa fa-smile-o font_70" aria-hidden="true"></i> </div>
                <label>История настроения</label>
            </div>
            <div class="col">
                <div class="icon-holder dsp-flex"> <i class="fa fa-lightbulb-o font_70" aria-hidden="true"></i> </div>
                <label>Управление светом</label>
            </div>
        </div>
    </div>
</template>

<style scoped>
.list-inline > .col {
    display: inline-block;
    text-align: center;
}

.cause-list .icon-holder {
	margin: auto;
	border: 1px solid #c4c4c4;
	width: 158px;
	height: 158px;
	background: rgba(255, 255, 255, 0.08) none repeat scroll 0% 0%;
    color: #00c080;
}

.cause-list .col label {
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	display: block;
	font-weight: normal;
    margin: 12px 0 0;
}
.icon-holder {
	background: #00c080;
	border-radius: 100%;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	text-align: center;
}
.dsp-flex {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	-webkit-align-items: center;
	justify-content: center
}
.font_70 { font-size: 70px !important;}

</style>