<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@sberdevices/assistant-client@2.4.0/umd/assistant.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://use.fontawesome.com/1dec14be15.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="qr/qrious.min.js"></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- <link rel="stylesheet" href="todo/style.css"> -->
    <link rel="stylesheet" href="sberstyle.css">
    <link rel="stylesheet" href="wordart.css">


    <title>ДЕНЬКИ</title>
    <style type="text/css">
        h1 {
            color: #fff;
        }

        ul#root {
            /*font-size: 2em;*/
            color: #fff;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .centring {
            margin-top: 10rem !important;
        }
    </style>
</head>

<body>
    <div id="app" class="container" style="height: 80%">
        <div v-if="preset == 'registration'" id="fl" style="position: absolute; top: 0; left: 0; height: 100vh; width: 100vw; 	background-color: #080808;
    background-image: linear-gradient(336.84deg,rgba(20,116,70,0.6) 0%,rgba(8,8,8,0) 64.88%),radial-gradient(100% 100% at 75.89% 100%,rgba(0,133,255,0.24) 0%,rgba(0,71,255,0.03) 100%),linear-gradient(180deg,rgba(8,8,8,0) 50%,rgba(7,71,33,0.3) 100%),linear-gradient(270deg,#061621 0%,rgba(8,8,8,0) 100%); 
	background-size: 300% 300%;
    animation: gradient 10s ease infinite; z-index: -1;"></div>
        <!-- <icons></icons> -->
        <!-- <sberbutton></sberbutton> -->
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <qr v-if="preset == 'qr'" v-bind:value="qr_value" class="img-fluid mx-auto d-block"></qr>
                <todo v-if="preset == 'todo'" v-bind:tasks="tasks"></todo>
                <div id="human" v-if="preset == 'registration'" ><img src="man.png" class="img-fluid mx-auto d-block" v-if="man" style="transition-duration: 1s;" /><img src="empty_man.png" class="img-fluid mx-auto d-block" v-if=" ! man" style="transition-duration: 1s;" /></div>
                <indicator c0="blue" c1="yellow" v-if="preset == 'indicator'"></indicator>
                <icons v-if="preset == 'icons'"></icons>
                <recommendation v-if="preset == 'recommendation'"></recommendation>
            </div>
        </div>
        <!-- <indicator c0="blue" c1="yellow"></indicator>
        <sberbutton></sberbutton> -->


        <!-- <div class="wordart superhero"><span class="text">{{ message }}</span></div> -->
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Вас зовут Артём!',
                man: false,
                preset: "begin",
                qr_value: '',
                tasks: [{ pk: 1, name: 'huy' }, { pk: 2, name: 'govno' }],
                nastroenie: -1,
            },
            components: {
                'sberbutton': httpVueLoader('sberbutton.vue'),
                'qr': httpVueLoader('qrcode.vue'),
                'indicator': httpVueLoader('indicator.vue'),
                'todo': httpVueLoader('todo.vue'),
                'icons': httpVueLoader('icons.vue'),
                'recommendation': httpVueLoader('recommendation.vue'),
            }
        })
    </script>

    <script type="text/javascript">
        var token = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2MTQ0Mzk3ODQsImV4cCI6MTYxNDUyNjE4NCwidHlwZSI6IkJlYXJlciIsImp0aSI6IjZkNWUzYTY2LTVkNWMtNDAyMS05MmJiLTEwMjUwNjQwNWI3NyIsInN1YiI6ImVlYmVhNGY5MDc2ODhlMzk2NTk4ZmQ1ZjgzOWY2MzE4NDY5NDExOTQxM2I4NjFkNTVhN2M0YWVjNzNhZmNlMzE4OTg1MjczODZkNTFkMjZmIiwiYXVkIjoiVlBTIn0.H6bO1N7NKrJo9h4yUgb9wedPcpo7qu9vF7tWoCZo-j3MFZm7xEh7rs39iRVIvtT2W5cxE9f0gUON002sZbCgmmx5Cv4fDzsOatMctnZbPwdmgL5Q77USlQ-_VZ-qFaFJgDpWISYbH34iKV9olqAbEtXRkfBCN8DjwxZnCpV7qtVhRd3DeIAqoL_WsKqiPeeRYTOrIbMoEfFyTgtYBdE55Mh_4yyPL7-RmZR17r6qQktupJLTdLdKWsWM4KQofxBj5biCYr19awJSoIZ-OWwGHAK5xY6Z6w0ks3YE9qmBk9J1Zw5cgC-LcAIso3SHm5ZDk8WtpYHLgLaMHGRHVtjYSzMOpcxXBRldURKlxZ4mu7UnyYZqeQuFQVE2t-xflS5iTKdqorMRVeiOdLDZjXCqF_t2RP_ISEei5LVjbZ1W0ZXdXXFx3pmmzvgn0-Rg8SD-gQK9ZLyQQIxBiXGgWZdFcJz_oaHUWqZU4LU5Xmv6PsWzJ2NYRxeAHqZ0TtPZWa9QtYXn1Ihd3mQdGD38fruzxJRvl31YRf4v9MOGrTZJvWRpBLUFFbA7ToDkQcml2nomTeQJHRQTG8H_qTPPObfpnuGkZiMrtePpvDUo-odPbhHC37Eai9rZ9AOlpMcQG8c5NjMp6vCf1HjlpxIvL0okHusU0DBgNNDK-zW5U0cq9HI'; // <- сюда вставляем токен из smartapp-studio
        var initPhrase = 'Запусти кекекекиссимо';
        var state = { item_selector: { items: [] } };

        // function addNote(id, title, completed) {
        //     var note = document.createElement('li');
        //     note.id = 'note-' + id;
        //     note.innerText = title;

        //     document.getElementById('root').append(note);
        // }

        // function deleteNote(id) {
        //     var note = document.getElementById('note-' + id)
        //     if (note != null) {
        //         note.remove();
        //     }
        // }

        // function doneNote(id) {
        //     var note = document.getElementById('note-' + id)
        //     if (note != null) {
        //         note.style.textDecoration = 'line-through';
        //     }
        // }

        var assistant = assistant.createSmartappDebugger({ getState: () => state, token, initPhrase });
        assistant.on('data', ({ action }) => {
            console.log("ACTIONNNNNNNN");
            console.log(action);

            if (!action) {
                return;
            }

            switch (action.type) {
                case 'tasks':
                    app.preset = 'todo';
                    if (action.state == 'list_task' || action.state == "new_task") {
                        app.tasks = [];
                        // app.tasks.push(action.task.name);
                        for (const element of JSON.parse(action.task.all_tasks)) {
                            delete element['model'];
                            Object.assign(element, element.fields);
                            delete element['fields'];
                            element['user_user_id'] = action.task['user_user_id'];

                            console.log(element);
                            app.tasks.push(element);
                        }
                    }
                    break;
                case 'qr':
                    app.qr_value = 'http://sber.batalov.me/parse?user_id=' + action.user_id;
                    app.preset = 'qr';

                    break;
                case 'registration':
                    app.preset = 'registration';
                    if (action.state == 'name') app.man = false;
                    if (action.state == 'age') app.man = true;
                    
                    break;
                case 'icons':
                    app.preset = 'icons';

                    break;
                case 'indicator':
                    app.preset = 'indicator';

                    break;
                case 'recommendations':
                    app.preset = 'recommendation';

                    break;
                default:
                    console.error('Unsupported action-type', action.type);
                    break;
            }


            //{type: "registration", state: "age", user: {name: "Артём"}}
        });

        function sss() {
            assistant.sendData({ action: { action_id: 'some_action_name' } });
        }


    </script>
</body>

</html>