<template>
    <div class="row bs-wizard" style="border-bottom:0;">

		<div class="col bs-wizard-step pass">
			<div class="text-center bs-wizard-stepnum">4 дней назад</div>
			<div class="dot-super-container">
				<div class="dot-container">
					<a href="#" class="bs-wizard-dot" v-bind:style="{ background: colors[c0] }" ></a>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar"
					v-bind:style="{ background: 'linear-gradient(90deg, ' + colors[c0] + ' 0%, ' + colors[c1] + ' 200%)' }"></div>
			</div>
		</div>

		<div class="col bs-wizard-step pass">
			<!-- complete -->
			<div class="text-center bs-wizard-stepnum">3 дня назад</div>
			<div class="dot-super-container">
				<div class="dot-container">
					<a href="#" class="bs-wizard-dot" v-bind:style="{ background: colors[c1] }"></a>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar"
					v-bind:style="{ background: 'linear-gradient(90deg, ' + colors[c0] + ' -50%, ' + colors[c1] + ' 50%, ' + colors[c2] + ' 150%)' }">
				</div>
			</div>
		</div>

		<div class="col bs-wizard-step pass">
			<!-- complete -->
			<div class="text-center bs-wizard-stepnum">Позавчера</div>
			<div class="dot-super-container">
				<div class="dot-container">
					<a href="#" class="bs-wizard-dot" v-bind:style="{ background: colors[c2] }"></a>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar"
					v-bind:style="{ background: 'linear-gradient(90deg, ' + colors[c1] + ' -50%, ' + colors[c2] + ' 50%, ' + colors[c3] + ' 150%)' }">
				</div>
			</div>
		</div>

		<div class="col bs-wizard-step pass">
			<!-- complete -->
			<div class="text-center bs-wizard-stepnum">Вчера</div>
			<div class="dot-super-container">
				<div class="dot-container">
					<a href="#" class="bs-wizard-dot" v-bind:style="{ background: colors[c3] }"></a>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar"
					v-bind:style="{ background: 'linear-gradient(90deg, ' + colors[c2] + ' -50%, ' + colors[c3] + ' 50%, ' + colors[c4] + ' 150%)' }">
				</div>
			</div>
		</div>

		<div class="col bs-wizard-step pass">
			<!-- active -->
			<div class="text-center bs-wizard-stepnum">Сегодня</div>
			<div class="dot-super-container">
				<div class="dot-container">
					<a type="button" href="#" class="material-button material-button-toggle bs-wizard-dot" v-bind:class="{ 'open': scaleon }" v-bind:style="{ background: colors[c4] }" v-on:click="scaleon=!scaleon"></a>
				</div>
			</div>
			<div data-s-1="" class="material-button-anim">
				<ul id="options" class="list-inline">
					<li class="option" v-bind:class="{ 'scale-on': scaleon }" ><button type="button" class="material-button invisible-button option0" v-on:click="$root.nastroenie = 1; c4=0;" ><img src="static/img/Very-Sad-Emoji.png"></button></li>
					<li class="option" v-bind:class="{ 'scale-on': scaleon }" ><button type="button" class="material-button invisible-button option1" v-on:click="$root.nastroenie = 2; c4=1;" ><img src="static/img/Confused-Face-Emoji.png"></button></li>
					<li class="option" v-bind:class="{ 'scale-on': scaleon }" ><button type="button" class="material-button invisible-button option2" v-on:click="$root.nastroenie = 3; c4=2;" ><img src="static/img/Neutral-Face-Emoji.png"></button></li>
					<li class="option" v-bind:class="{ 'scale-on': scaleon }" ><button type="button" class="material-button invisible-button option3" v-on:click="$root.nastroenie = 4; c4=3;" ><img src="static/img/Slightly-Smiling-Face-Emoji.png"></button></li>
					<li class="option" v-bind:class="{ 'scale-on': scaleon }" ><button type="button" class="material-button invisible-button option4" v-on:click="$root.nastroenie = 5; c4=4;" ><img src="static/img/Shyly-Smiling-Face-Emoji.png"></button></li>
				</ul> 
			</div>
			<div class="progress">
				<div class="progress-bar"
					v-bind:style="{ background: 'linear-gradient(90deg, ' + colors[c3] + ' -100%, ' + colors[c4] + ' 100%)' }">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
module.exports = {
    props: {
        c0: {
            type: Number,
            default: 0,
        },
        c1: {
            type: Number,
            default: 0,
        },
        c2: {
            type: Number,
            default: 0,
        },
        c3: {
            type: Number,
            default: 0,
        },
        c4: {
            type: Number,
            default: 0,
        }
    },
    data: function() {
        return {
            scaleon: true,
            colors: ["#0062a3", "#00ab99", "#00ea96", "#00e860", "#dde401", "gray"]
        }
    }
}
</script>

<style scoped>
    .bs-wizard {margin-top: 40px;}

    /*Form Wizard*/
    .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}

    .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
    .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: white; font-size: 26px; margin-bottom: 5px;}
    .bs-wizard > .bs-wizard-step .bs-wizard-info {color: white; font-size: 26px;}

    .bs-wizard > .bs-wizard-step > .dot-super-container > .dot-container > .bs-wizard-dot {width: 30px; height: 30px; display: block; background: #82EA99; top: 0; left: 0; /*margin-top: -15px; margin-left: -15px;*/ border-radius: 50%;} 
    .bs-wizard > .bs-wizard-step > .dot-super-container > .dot-container > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #45B85E; border-radius: 50px; /*top: 8px; left: 8px;*/ } 

    .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 16px 0;}
    .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #82EA99;}

    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
    .bs-wizard > .bs-wizard-step.pass > .progress > .progress-bar {width:100%;}
    .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}

    .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
    .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}

    .bs-wizard > .bs-wizard-step.disabled > .dot-super-container > .dot-container > .bs-wizard-dot {background-color: #f5f5f5;}
    .bs-wizard > .bs-wizard-step.disabled > .dot-super-container > .dot-container > .bs-wizard-dot:after {opacity: 0;}
    .bs-wizard > .bs-wizard-step.pass > .dot-super-container > .dot-container > .bs-wizard-dot:after {opacity: 0;}

    .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
    .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}

    .dot-super-container {position: absolute; width: 100%;}
    .dot-container {width: 100%; display: flex; justify-content: center;}

    /*END Form Wizard*/

    body {
        padding-top: 50px;
    }

    .list-inline > li{
        display: inline-block;
    }

    .material-button-anim {
    max-width: 450px;
    margin: 0; 
    padding: 0; 
    position: absolute; 
    text-align: left; 
    width: 100%;
    }

    .material-button {
        position: relative;
        top: -20px;
        z-index: 1;
        width: 70px;
        height: 70px;
        font-size: 1.5em;
        color: #fff;
        background: #2C98DE;
        border: none;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,.275);
        outline: none;
    }
    .material-button-toggle {
        z-index: 3;
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }
    .material-button-toggle span {
        -webkit-transform: none;
        transform:         none;
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
        transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
    }
    .material-button-toggle.open {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
        -webkit-animation: toggleBtnAnim .175s;
        animation:         toggleBtnAnim .175s;
    }
    .material-button-toggle.open span {
        -webkit-transform: rotate(45deg);
        transform:         rotate(45deg);
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
        transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
    }

    #options {
    height: 70px;
    margin: auto; 
    display: flex; 
    justify-content: center;
    }
    .option {
        position: absolute;
    }
    .option .option0,
    .option .option1,
    .option .option2,
    .option .option3,
    .option .option4 {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -webkit-transition: all .175s;
        transition:         all .175s;
        -webkit-transform: scale(0.35,0.35);
        transform:         scale(0.35,0.35);
    }
    .option.scale-on .option0, 
    .option.scale-on .option1, 
    .option.scale-on .option2,
    .option.scale-on .option3,
    .option.scale-on .option4 {
        filter: blur(0);
        -webkit-filter: blur(0);
        -webkit-transform: none;
        transform:         none;
        -webkit-transition: all .175s;
        transition:         all .175s;
    }

    .option.scale-on .option0 {
        -webkit-transform: translateX(-129.9px) translateY(75px) translateZ(0);
        transform:         translateX(-129.9px) translateY(75px) translateZ(0);
        -webkit-transition: all .175s;
        transition:         all .175s;
    }
    .option.scale-on .option1 {
        -webkit-transform: translateX(-75px) translateY(129.9px) translateZ(0);
        transform:         translateX(-75px) translateY(129.9px) translateZ(0);
        -webkit-transition: all .175s;
        transition:         all .175s;
    }
    .option.scale-on .option2 {
        -webkit-transform: translateX(0px) translateY(150px) translateZ(0);
        transform:         translateX(0px) translateY(150px) translateZ(0);
        -webkit-transition: all .175s;
        transition:         all .175s;
    }
    .option.scale-on .option3 {
        -webkit-transform: translateX(75px) translateY(129.9px) translateZ(0);
        transform:         translateX(75px) translateY(129.9px) translateZ(0);
        -webkit-transition: all .175s;
        transition:         all .175s;
    }
    .option.scale-on .option4 {
        -webkit-transform: translateX(129.9px) translateY(75px) translateZ(0);
        transform:         translateX(129.9x) translateY(75px) translateZ(0);
        -webkit-transition: all .175s;
        transition:         all .175s;
    }

    .invisible-button {
        background: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

    .material-button > img {
        max-height: 60px;
    }
</style>