<template>
    <div style="display: flex !important; justify-content: center;">
        <img src="static/img/google-fit.png" alt="google-fit support" style="max-width: 100px; position: absolute; margin-top: 200px; background: white; border-radius: 10px;"/>
        <img :src="newQRCode" alt="QRCode"  style="display: flex; justify-content: center;"/>
    </div>
</template>

<script>
module.exports = {
    props: {
        value: {
            type: String,
            default: '',
        }
    },
    data: function() {
        return {
            qrcode: new QRious({ size: 500 }),
        }
    },
    computed: {
        newQRCode() {
            this.qrcode.value = this.value;
            this.qrcode.padding = 30;
            return this.qrcode.toDataURL();
        },
    },
}
</script>