<template>
    <div class="d-flex justify-content-center row notes-top">
        <div class="col-md-8">
            <div class="p-4 bg-sber notes">
                <div class="d-flex flex-row align-items-center notes-title">
                    <h4>Рекомендации на основе вашего сна и эмоций в прошлом</h4>
                </div>
            </div>
            <div class="p-3 bg-sber">
                Ложитесь спать в <i>22:45</i>. Хорошо выспитесь.</div>
            <div class="p-3 bg-sber">Просыпайтесь в
                <i>7:00</i>. К этому времени вы будете полны энергии.</div>
            <div class="p-3 bg-sber end" style="border-radius: 0 0 24px 24px;">Обычно вам
                достаточно <i>8 часов 25 минут</i> сна для продуктивного дня.</div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        props: {
            tasks: {
                type: Array,
                default: '',
            }
        },
        data: function () {
            return {
                scaleon: false,
                checked: []
            }
        }
    }
</script>


<style scoped>
    .notes-top {
        margin-top: 80px;
    }

    .p-3 {
        font-size: 26px;
    }

    .end {
        border-bottom: none !important; 
    }

    .bg-sber > i {
        color: #00e860;
    }
    .notes-title > h4 {
        color: white;
        font-size: 36px;
    }

    .bg-sber {
        background-color: rgba(255, 255, 255, 0.08) !important;
        padding: 1rem 2rem !important;
        border-bottom: 1px solid rgb(196, 196, 196);
        color: white;
    }

    .crossed {
        text-decoration: line-through;
    }

    .notes {
        border-radius: 24px 24px 0 0;
        padding: 1rem 2rem !important;
        border-bottom: 1px solid #c4c4c4;
    }

    .label-text {
        color: #fff;
    }

    .dot {
        height: 6px;
        width: 6px;
        margin-left: 8px;
        margin-right: 3px;
        margin-top: 2px;
        background-color: rgb(91, 92, 91);
        border-radius: 50%;
        display: inline-block
    }

    .review-text {
        background: red;
        color: #fff
    }

    .info {
        color: #8c8b9a
    }

    .dot-red {
        background-color: red !important;
        height: 6px;
        width: 6px;
        margin-left: 8px;
        margin-right: 3px;
        margin-top: 2px;
        border-radius: 50%;
        display: inline-block
    }

    @keyframes click-wave {
        0% {
            height: 40px;
            width: 40px;
            opacity: 0.15;
            position: relative
        }

        100% {
            height: 200px;
            width: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0
        }
    }

    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 10.3px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 30px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000
    }

    .option-input:hover {
        background: #9faab7
    }

    .option-input:checked {
        background: rgb(0, 220, 113)
    }

    .option-input:checked::before {
        height: 30px;
        width: 30px;
        position: absolute;
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-size: 16.7px;
        text-align: center;
        line-height: 30px
    }

    .option-input:checked::after {
        -webkit-animation: click-wave 0.25s;
        -moz-animation: click-wave 0.25s;
        animation: click-wave 0.25s;
        background: rgb(0, 220, 113);
        content: '';
        display: block;
        position: relative;
        z-index: 100
    }

    .option-input.radio {
        border-radius: 50%
    }

    .option-input.radio::after {
        border-radius: 50%
    }

    .completed {
        color: gray;
        text-decoration: line-through
    }

    .line-text {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;
        line-height: 0.1em;
        margin: 10px 0 20px
    }

    .line-text span {
        background: #fff;
        padding: 0 10px;
        color: #212529
    }

    .user-images img {
        margin-left: -5px
    }
</style>