@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Light.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Italic.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-SemiboldItalic.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Thin.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Regular.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Semibold.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-LightItalic.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Heavy.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Bold.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-BoldItalic.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SB Sans Text';
    src: url('./fonts/SBSansText/SBSansText-Medium.woff2') format('woff2'),
        url('./fonts/SBSansText/SBSansText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


html body {
    height: 100vh;

    background-color: #080808;
    background-image: linear-gradient(336.84deg,rgba(20,116,70,0.6) 0%,rgba(8,8,8,0) 64.88%),radial-gradient(100% 100% at 75.89% 100%,rgba(0,133,255,0.24) 0%,rgba(0,71,255,0.03) 100%),linear-gradient(180deg,rgba(8,8,8,0) 50%,rgba(7,71,33,0.3) 100%),linear-gradient(270deg,#061621 0%,rgba(8,8,8,0) 100%);
    
    font-family: "SB Sans Text", sans-serif;
    font-style: normal;
}