<template>
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="p-4 bg-sber notes">
                <div class="d-flex flex-row align-items-center notes-title">
                    <h4 style="color: #fff">План на день</h4>
                </div>
            </div>
            <div class="p-3 bg-sber" style="padding-top: 0.5rem !important; border-radius: 0 0 24px 24px;">
                <div class="d-flex align-items-center" v-for="task in tasks" v-bind:key="task.pk" ><label><input type="checkbox" class="option-input radio" v-model="checked" v-bind:value="task.pk" :disabled="checked.includes(task.pk)"><span class="label-text" v-bind:class="{ 'crossed': checked.includes(task.pk) }" >{{ task.name }}</span></label></div>            
            </div>
        </div>
    </div>
    
</template>

<script>
module.exports = {
    props: {
        tasks: {
            type: Array,
            default: '',
        }
    },
    data: function() {
        return {
            scaleon: false,
            checked: []
        }
    },
    watch: {
        checked: function (newVal, oldVal) {
            for (i=0;i<this.tasks.length;i++) {
                if (newVal.filter(n => !oldVal.includes(n)) == this.tasks[i].pk) {
                    console.log(this.tasks[i].user_user_id);
                    console.log(this.tasks[i].pk);

                    axios.post('http://163.172.137.5:8080/api/tasks/doned/', new URLSearchParams('user_id='+this.tasks[i].user_user_id+'&task_id='+this.tasks[i].pk), {headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }})
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        }
    }
}
</script>


<style scoped>
.bg-sber {
    background-color: rgba(255, 255, 255, 0.08) !important;
}

.crossed {
    text-decoration: line-through;
}

.notes {
    border-radius: 24px 24px 0 0;
    padding-bottom: 0.5rem !important;
    border-bottom: 1px solid #c4c4c4;
}

.label-text {
    color: #fff;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 2px;
    background-color: rgb(91, 92, 91);
    border-radius: 50%;
    display: inline-block
}

.review-text {
    background: red;
    color: #fff
}

.info {
    color: #8c8b9a
}

.dot-red {
    background-color: red !important;
    height: 6px;
    width: 6px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 50%;
    display: inline-block
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 10.3px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000
}

.option-input:hover {
    background: #9faab7
}

.option-input:checked {
    background: rgb(0, 220, 113)
}

.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 16.7px;
    text-align: center;
    line-height: 30px
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.25s;
    -moz-animation: click-wave 0.25s;
    animation: click-wave 0.25s;
    background: rgb(0, 220, 113);
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 50%
}

.option-input.radio::after {
    border-radius: 50%
}

.completed {
    color: gray;
    text-decoration: line-through
}

.line-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    line-height: 0.1em;
    margin: 10px 0 20px
}

.line-text span {
    background: #fff;
    padding: 0 10px;
    color: #212529
}

.user-images img {
    margin-left: -5px
}

</style>