<script src="script.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="style.css">
<body>
	<div class="container mt-5">
	    <div class="d-flex justify-content-center row">
		<div class="col-md-6">
		    <div class="p-4 bg-white notes">
		        <div class="d-flex flex-row align-items-center notes-title">
		            <h4>Team Meeting</h4><span class="px-2 review-text ml-2 rounded">vital</span>
		        </div>
		        <div class="d-flex flex-row align-items-center align-content-center"><span class="rounded info">04/01/2020</span><span class="dot"></span><span class="info ml-1">ML - 1321</span></div>
		    </div>
		    <div class="p-3 bg-white">
		        <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Task list and assignments</span></label></div>
		        <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Set due date and assignments</span></label></div>
		        <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Remove duplicate tasks and stories</span></label></div>
		        <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Update the userflow and stories</span></label></div>
		        <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Adjust the components</span></label></div>
		    </div>
		    <div class="p-2 bg-white">
		        <h6 class="line-text"><span>Shared with</span></h6>
		    </div>
		    <div class="d-flex justify-content-center p-2 bg-white user-images"><img class="rounded-circle" src="https://i.imgur.com/rQMmlf6.jpg" width="40"><img class="rounded-circle" src="https://i.imgur.com/zE0TPlF.jpg" width="40"><img class="rounded-circle" src="https://i.imgur.com/rCAhOXi.jpg" width="40"><img class="rounded-circle" src="https://i.imgur.com/28GMrS0.jpg" width="40"></div>
		</div>
	    </div>
	</div>
</body>
