
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/1dec14be15.js"></script>

<style>
.list-inline > .col {
    display: inline-block;
    text-align: center;
}

.cause-list .icon-holder {
	margin: auto;
	border: 1px solid #00c080;
	width: 158px;
	height: 158px;
	background: #ffffff;
}

.cause-list .col label {
	color: #00c080;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	font-weight: normal;
    margin: 12px 0 0;
}
.icon-holder {
	background: #00c080;
	border-radius: 100%;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	text-align: center;
}
.dsp-flex {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	-webkit-align-items: center;
	justify-content: center
}
.font_70 { font-size: 70px !important;}

</style>
<div class="container">
    <div class="row list-inline cause-list">
        <div class="col">
            <div class="icon-holder dsp-flex"> <i class="fa fa-bed font_70" aria-hidden="true"></i> </div>
            <label>Tree Planation</label>
        </div>
        <div class="col">
            <div class="icon-holder dsp-flex"> <i class="fa fa-thumb-tack font_70" aria-hidden="true"></i> </div>
            <label>Blood Donation</label>
        </div>
        <div class="col">
            <div class="icon-holder dsp-flex"> <i class="fa fa-smile-o font_70" aria-hidden="true"></i> </div>
            <label>Awareness</label>
        </div>
        <div class="col">
            <div class="icon-holder dsp-flex"> <i class="fa fa-lightbulb-o font_70" aria-hidden="true"></i> </div>
            <label>Save Nature</label>
        </div>
    </div>
</div>